html{
  background-color: rgb(43, 41, 41);
}
h1{
  text-align: center;
  color: white;
}
fieldset{
  width: 80%;
  background-color: rgb(196, 203, 202);
  border: 2px solid rgb(35, 81, 55);
  border-radius: 4px;
  margin: auto;
  margin-bottom: 20px;
}
legend{
  background-color: rgb(67, 106, 85);
  color: white;
  padding: 1.5%;
  border-radius: 5px;
}
div{
  margin: 3px 0 3px 0;
}

label{
  display: block;
}

input, select, textarea{
  border: 1px solid rgb(45, 72, 57);
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea{
  resize: vertical;
  height: 100px;
  min-height: 100px; 
}

button{
  background-color: rgb(67, 106, 85);
  color: white;
  padding: 2%;
  border-color: rgb(170, 191, 188);
  border-radius: 5px;
}

hr {
  border: none;
  width: 55%;
  border-top: 15px dotted #a9c0b8;
  margin-bottom: 20px;
}

/* clases */
.datos{
  text-align: center;
}

.contenedor-cuadrados-circulos input, .contenedor-cuadrados-circulos label{
  display: inline-block;
}

.ancho-i-s-t{
  width: 60%;
  padding: 1%;
}

.sede{
  margin-top: 20px;
  margin-bottom: 20px;
}
.color-p{
  color: white;
}
.terminos{
  color: white;
}

.bordes-titulo{
  border: 15px solid #4d6d63;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.texto-derecha{
  text-align: right;
}

/* focus */
input:focus, textarea:focus{
  background-color: rgb(43, 98, 69);
}
fieldset:focus-within{
  background-color: rgb(170, 191, 188);
}


